{% extends 'form_edit.html.twig' %}

{% block fields %}

	<div class="control-group">
		{{ form_label('Email/Username:', 'identity', {'class': 'control-label'}) }}
		<div class="controls">
			{{ form_input(identity) }}
		</div>
	</div>

	<div class="control-group">
		{{ form_label('Password:', 'password', {'class': 'control-label'})  }}
		<div class="controls">
			{{ form_input(password) }}
		</div>
	</div>

	<div class="control-group">
		{{ form_label('Remember Me:', 'remember', {'class': 'control-label'}) }}
		<div class="controls">
			<label class="checkbox inline">
			{{ form_checkbox('remember', '1', FALSE, 'id="remember"') }}
			</label>
		</div>
	</div>

{% endblock fields %}

{% block buttons %}
	<div class="form-actions">
		{{ form_submit('login', 'Login', 'class="btn btn-primary"') }}
		{{ anchor('auth/forgot_password','Forgot your password?', 'class="btn"') }}
	</div>
{% endblock buttons %}